@font-face {
  font-family: font_Mont;
  src: url("/public/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: fontAL;
  /* src: url("/public/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf"); */
  src: url("/public/fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: fontPOP;
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: fontPOP_light;
  src: url("/public/fonts/Poppins/Poppins-Light.ttf");
  font-display: swap;
}

html {
  font-family: font_Mont;
  scroll-behavior: smooth;
  /* background-color: #3e502e; */
  background-color: #fffff0;
}

/* Rotate animation */

@keyframes outer_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes inner_rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate_outer_rotate {
  animation: outer_rotate 50s linear infinite;
}

.animate_inner_rotate {
  animation: inner_rotate 40s linear infinite;
}
.fade-mask{
  -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 40px, black calc(100% - 40px), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0px, black 40px, black calc(100% - 40px), transparent 100%);
}